/dance_poses.npz
/g1_joint_angles.npz
/g1_mapping_result.mp4
/kaggle.md
/mapping_debug.log

/taiji.npz
/taiji_result.mp4
/tennis.mp4
/tennis.npz
/tennis_result.mp4
/test.mp4
/test.npz
/test2.mp4
/test2.npz
/test2_result.mp4
/test_angle_precision.py
/test_bending_angles.png
/test_bending_angles.py
/test_coordinate_align.png
/test_coordinate_align.py
/test_ik_solve.png
/test_ik_solve.py
/test_result.mp4
/videopose3d_mp_gvhmr.onnx
/__pycache__
/测试.zip
/要求.md

*.npz